In [1]:
import pandas as pd

data = pd.read_csv ("joint_data.csv")   
df = pd.DataFrame(data)

#print(df)
df.head(5)

,route_id,route_linestring,num_of_waypoint,waypoint_longitude,waypoint_latitude,poi_lat_lgt,poi_longitude,poi_latitude,poi_category,poi_name,distance
0,113043,"LINESTRING (13.69072 52.45147, 13.69075 52.451...",133,13.67734,52.43849,POINT (13.6774745 52.4385208),13.677475,52.438521,viewpoint,Müggeleck,0.000138
1,113043,"LINESTRING (13.69072 52.45147, 13.69075 52.451...",282,13.62759,52.44386,POINT (13.6279051 52.444312),13.627905,52.444312,bench,NaN,0.000551
2,113043,"LINESTRING (13.69072 52.45147, 13.69075 52.451...",288,13.62704,52.44442,POINT (13.6271595 52.4444457),13.627159,52.444446,bench,NaN,0.000122
3,113043,"LINESTRING (13.69072 52.45147, 13.69075 52.451...",288,13.62704,52.44442,POINT (13.6269487 52.4444808),13.626949,52.444481,bench,NaN,0.000110
4,113043,"LINESTRING (13.69072 52.45147, 13.69075 52.451...",292,13.62716,52.44509,POINT (13.6273851 52.4453161),13.627385,52.445316,bench,NaN,0.000319

In [2]:
for col in df.columns:
    print(col)

route_id
route_linestring
num_of_waypoint
waypoint_longitude
waypoint_latitude
poi_lat_lgt
poi_longitude
poi_latitude
poi_category
poi_name
distance

In [5]:
header_list = list(df.columns)
header_string = ', '.join(header_list)
print(header_string)

route_id, route_linestring, num_of_waypoint, waypoint_longitude, waypoint_latitude, poi_lat_lgt, poi_longitude, poi_latitude, poi_category, poi_name, distance

In [3]:
# import pyodbc

# conn = pyodbc.connect('Driver={SQL Server};'
#                       'Server=RON\SQLEXPRESS;'
#                       'Database=test_database;'
#                       'Trusted_Connection=yes;')
# cursor = conn.cursor()

In [4]:
# SELECT @@ SERVERNAME

In [7]:
#df.to_sql(routes.db, sqlite3.Connection)

NameError: name 'routes' is not defined

In [17]:
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)
df.to_sql('routes.db', con=engine)

In [13]:
routes_db = engine.execute("SELECT * FROM routes").fetchall()

TypeError: to_sql() missing 1 required positional argument: 'con'