## To check if the routes.db works
Routes.db was not working - it was saying that it is an empty DataFrame but I could see on the editor that it was actually not. Therefore, I executed some test codes here. I realized I mistakenly created two tables in the routes.db: 1) routes, 2) routes.db. Thus, it did not recognize the actual data because it was embedded. I fixed the part which caused the error in the create_sqlite_db, and now routes.db works fine.

In [3]:
import sqlite3
import pandas as pd

con = sqlite3.connect('routes.db') 
cur = con.cursor()
                 
cur.execute('''SELECT * FROM routes ORDER BY route_id''')

df = pd.DataFrame(cur.fetchall())

print(df)

            0                                                  1    2   \
0       113043  LINESTRING (13.69072 52.45147, 13.69075 52.451...  133
1       113043  LINESTRING (13.69072 52.45147, 13.69075 52.451...  282
2       113043  LINESTRING (13.69072 52.45147, 13.69075 52.451...  288
3       113043  LINESTRING (13.69072 52.45147, 13.69075 52.451...  288
4       113043  LINESTRING (13.69072 52.45147, 13.69075 52.451...  292
...        ...                                                ...  ...
91099  3674009  LINESTRING (13.21284 52.53883, 13.21286 52.538...  388
91100  3674009  LINESTRING (13.21284 52.53883, 13.21286 52.538...  388
91101  3674009  LINESTRING (13.21284 52.53883, 13.21286 52.538...  388
91102  3674128  LINESTRING (13.26176 52.4888, 13.2618 52.48877...  281
91103  3675718  LINESTRING (13.2586 52.50803, 13.25863 52.5080...  119

             3         4                              5          6   \
0      13.67734  52.43849  POINT (13.6774745 52.4385208)  13.677475
1      13.62759  52.44386   POINT (13.6279051 52.444312)  13.627905
2      13.62704  52.44442  POINT (13.6271595 52.4444457)  13.627159
3      13.62704  52.44442  POINT (13.6269487 52.4444808)  13.626949
4      13.62716  52.44509  POINT (13.6273851 52.4453161)  13.627385
...         ...       ...                            ...        ...
91099  13.28369  52.58943  POINT (13.2834619 52.5895611)  13.283462
91100  13.28369  52.58943  POINT (13.2843859 52.5890324)  13.284386
91101  13.28369  52.58943  POINT (13.2844894 52.5889504)  13.284489
91102  13.19110  52.45177    POINT (13.191308 52.451652)  13.191308
91103  13.21586  52.49709   POINT (13.2158511 52.497104)  13.215851

              7          8          9         10
0      52.438521  viewpoint  Müggeleck  0.000138
1      52.444312      bench       None  0.000551
2      52.444446      bench       None  0.000122
3      52.444481      bench       None  0.000110
4      52.445316      bench       None  0.000319
...          ...        ...        ...       ...
91099  52.589561       tree       None  0.000263
91100  52.589032       tree       None  0.000801
91101  52.588950       tree       None  0.000932
91102  52.451652       tree       None  0.000239
91103  52.497104       tree       None  0.000017

[91104 rows x 11 columns]

## To find the header list in the SQL DB

In [1]:
# loading in modules
import sqlite3

# creating file path
dbfile = 'routes.db'
# Create a SQL connection to our SQLite database
con = sqlite3.connect(dbfile)

# creating cursor
cur = con.cursor()

# reading all table names
table_list = [a for a in cur.execute("SELECT name FROM sqlite_master WHERE type = 'table'")]
# here is you table list
print(table_list)

# Be sure to close the connection
con.close()

[('routes',)]

## As in Pandas DataFrame

In [40]:
import sqlite3
import pandas as pd
dbfile = 'routes.db'
con = sqlite3.connect(dbfile) 
cur = con.cursor()

pd.read_sql('SELECT * FROM routes LIMIT 1;', con)

,route_id,route_linestring,num_of_waypoint,waypoint_longitude,waypoint_latitude,poi_lat_lgt,poi_longitude,poi_latitude,poi_category,poi_name,distance
0,113043,"LINESTRING (13.69072 52.45147, 13.69075 52.451...",133,13.67734,52.43849,POINT (13.6774745 52.4385208),13.677475,52.438521,viewpoint,Müggeleck,0.000138